.active__section_btns{
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    width: 110%;
    left: -5%;
} 
.btn{
    width: 70px;
    height: 70px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(45deg);
}
.slider__btn{
    background-color: transparent;
    font-size: 35px;
    transform: rotate(-45deg);
    outline: none;
}